/************ Banner Css ************/
.banner {
    margin-top: 0;
    padding: 10px 0 100px 0;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .banner .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    height: 100px;
    padding: 8px 10px;
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.185) -5.91%, rgba(73, 47, 189, 0.219) 111.58%);
    border: 1px solid rgba(255, 255, 255, 0.138);
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
  }
  .banner .cursor{
    color: rgb(255, 255, 255);
    animation: blink 0.7s infinite alternate;;
  }

  @keyframes blink {
        from {
            opacity: 0; /* Start opacity */
        }
        to {
            opacity: 1; /* End opacity */
        }
    }


  .banner h1 {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
  }
  .banner p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
    margin-bottom: 25px;
  }
  .banner .button {
    text-decoration: none;
    font-weight: 700;
    color: #000;
    background-color: #fff;
    padding: 14px 48px;
    font-size: 18px;
    border-radius: 0;
    position: relative;
    transition: 0.3s ease-in-out;
  }
  .banner .button span {
    z-index: 1;
    position: relative;
  }
  .banner .button:hover {
    color: #fff;
  }
  .banner .button::before {
    content: "";
    background: #121212;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: 0.3s ease-in-out;
  }
  .banner .button:hover::before {
    width: 100%;
  }
  .banner .button svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
  }
  .banner .button:hover svg {
    margin-left: 25px;
  }
  .banner img {
    animation: updown 3s linear infinite;
  }
  
  @media screen and (max-width: 600px) {
    .banner img{
      display: none;
    }
  }

  @media screen and (max-width: 1200px) {
    .banner .tagline {
        height: 250px;
    }
  }

  @media screen and (max-width: 600px) {
    .banner .tagline {
        height: 150px;
    }
  }
  
  
  @keyframes updown {
      0% {
          transform: translateY(-20px);
      }
      50% {
          transform: translateY(20px);
      }
      100% {
          transform: translateY(-20px);
      }
  }
  .txt-rotate > .wrap {
    border-right: 0.08em solid #666;
  }